<!DOCTYPE html>
<html>
<meta charset="utf-8">
<!--<FONT face="Webdings" size=4 color=white>-->
<head>
    <title>Music Mining</title>
    <style>
    body{
      font-family:'Courier New';
      font-size: 12pt;
      color:white;
      background-image:url("image/mm_배경_ios.png");
      background-position:center center;
      background-size: 130%;
      text-align: center;
      vertical-align: center;
    }
    </style>
</head>
<body>
<br><br><br><br><br><br>
<br><br>
<img src="image/final_logo.jpg" width=60 height=60>
<br><br>
   <p>Welcome to Music Mining.</p>
</body>
</html>
