<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>File upload Node.</title>
</head>

<body>
    <form enctype="multipart/form-data" action="/uploads" method="post">

      가수 :
      <input type="text" id="musician_name" name="musician_name" ><br>
      그룹 :
      <input type="text" id="group_name" name="group_name" ><br>
      피처링 :
      <input type="text" id="featuring_name" name="featuring_name" ><br>

      음악 제목 :
      <input type="text" id="title" name="title" ><br>
      가사 :
      <input type="text" id="lyrics" name="lyrics" ><br>
      하이라이트 비디오 :
      <input type="file" name="highlight_video" /><br>
      썸네일 이미지 :
      <input type="file" name="thumbnail" /><br>
      음원 파일 :
      <input type="file" name="music" /><br>

      장르 :
      <input type="text" id="genre" name="genre" ><br>

      작사 :
      <input type="text" id="lyricist" name="lyricist" ><br>
      작곡 :
      <input type="text" id="composer" name="composer" ><br>

      앨범 제목 :
      <input type="text" id="album_name" name="album_name" ><br>
      앨범 정보 :
      <input type="text" id="album_info" name="album_info" ><br>
      발매 일자 :
      <input type="text" id="sale_date" name="sale_date" ><br>
      앨범 커버 이미지 :
      <input type="file" name="album_image" /><br>

      <br><br>
      <input type="submit" value="Upload Image" name="submit"> <br>
    </form>


</body>


</html>
